

# Data Abstraction End-to-End Series (MySQL)

---
# **Table of Contents**
---

**1.** [**Introduction**](#Section1)<br>
  - **1.1** [**What is MySQL?**](#Section11)

**2.** [**Problem Statement**](#Section2)<br>

**3.** [**Installing and Importing Libraries**](#Section3)<br>

**4.** [**Data Acquisition using MySQL**](#Section5)<br>

---
<a name = Section1></a>
# **1. Introduction**
---

<a name = Section12></a>
### **1.1 What are SQL Databases?**



- SQL is Structured Query Language, which is a **computer language** for **storing**, **manipulating** and **retrieving data** stored in a relational database.

- SQL is the standard language for Relational Database System.

- All the Relational Database Management Systems (RDMS) like 
  - MySQL,
  - MS Access,
  - Oracle,
  - Sybase,
  - Informix,
  - Postgres and
  - SQL Server use SQL as their standard database language.

---
<a name = Section2></a>
# **2. Problem Statement**
---

Due to the **boom** in the telecom industry with **4G technology**, it has become a pain in the neck for the company to **retain their customers**.

<center><img src="https://raw.githubusercontent.com/insaid2018/Domain_Case_Studies/master/Telecom/churn2.png"width="350" height="220"/></center>

- They are in the **middle** of setting up more **cell sites** on the **4G network** to improve their **4G services**.

-  It is **plausible** for customers to choose **4G services** over **3G services** due to benefits of **cost,speed, latency etc**.



- Till now they have been using manual traditional ways which now has become a problem to handle due to work complication.

<center><img src = "https://raw.githubusercontent.com/insaid2018/Term-2/master/images/87217572-51866a00-c368-11ea-90b5-dd2e28fd00de.jpg"width="400" height="280"/></center>

- They have a detailed history of their customers and are looking for an automated solution toidentify the likeliness of customer churning from using their services.

- The data is **stored** in their **MySQL** database and you need to **extract to move further with your Data Science skills**.

---
<a name = Section3></a>
# **3. Installing & Importing Libraries**
---


### **Installing Libraries**

In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\lenovo\anaconda3\lib\site-packages (1.0.2)


### **Importing Libraries**

In [2]:
import pymysql
import pandas
pymysql.__version__

'1.0.2'

---
<a name = Section4></a>
# **4. Data Acquisition using MySQL**
---


### **Connecting to our data base**

In [3]:
conn = pymysql.connect(host='localhost',
                         user='root',
                         password='1234',
                         db='Project')

In [4]:
cursor = conn.cursor()


### **Getting the list of all the tables in our DB**

In [5]:
cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'Project'")

3

In [6]:
for table in [tables[0] for tables in cursor.fetchall()]:
    print(table)

book
churn
test


### **Fetching and calling the data in our notebook**

In [7]:
query = 'select * from churn'

In [8]:
results = pandas.read_sql_query(query, conn)

In [9]:
results

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...
8267,6840-RESVB,24,Yes,One year,Yes,Mailed check,84.80,1990.50,No\r
8268,2234-XADUH,72,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No\r
8269,4801-JZAZL,11,No,Month-to-month,Yes,Electronic check,29.60,346.45,No\r
8270,8361-LTMKD,4,Yes,Month-to-month,Yes,Mailed check,74.40,306.60,Yes\r
8271,3186-AJIEK,66,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No\r

In [10]:
type(results)

pandas.core.frame.DataFrame

In [11]:
results.dtypes

customerID           object
tenure                int64
PhoneService         object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

### **Saving it as a CSV**

In [12]:
results.to_csv("output.csv", index=False)

### **Importing a CSV to MySQL Database**

In [ ]:
import pymysql

# Connect to the database
connection = pymysql.connect(host='localhost',
                         user='root',
                         password='1234',
                         db='Project')

# create cursor
cursor=connection.cursor()

In [ ]:
# creating column list for insertion
cols = "`,`".join([str(i) for i in data.columns.tolist()])

# Insert DataFrame recrds one by one.
for i,row in data.iterrows():
    sql = "INSERT INTO `table_name` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))

    # the connection is not autocommitted by default, so we must commit to save our changes
    connection.commit()